#sidebar {
  padding: 1rem;
  font-size: .8rem
}

#post-list {
  list-style: none;
}

#post-list li {
  margin-bottom: 1rem;
}

.pl-item-title {
  font-weight: normal;
}

.pl-item-subtitle {
  font-size:  .7rem;
}