#sidebar {
  padding: 1rem;
  font-size: .8rem
}

#sidebar h2 {
  font-weight: 400;
}

#post-list {
  list-style: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#post-list li {
  margin-bottom: 1rem;
}

.pl-item-title {
  font-weight: normal;
}

.pl-item-subtitle {
  font-size:  .7rem;
}



/* running a trial screencast live coding some vue stuff. */