<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bloginator V1</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/action-bar.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <link rel="stylesheet" href="./css/content.css">

  <script src="./js/vue/vue.js"></script>

</head>
<body>
  <div id="app">

    <div id="header" class="header">
      <h1>Bloginator</h1>
    </div>

    <div id="action" class="action-bar">
      <h4>What would you like to do?</h4>
      <div class="action-btns">
        <button id="new-post" @click="createNewPost()">Create New Post</button>
        <button id="edit-post" class="editBtn" @click="editPost(getId())">Edit Post</button>
        <button id="delete-post">Delete Post</button>
      </div>
    </div>

    <div id="sidebar" class="sidebar">
      <ul id="post-list" v-for="post in posts">
        <li class="post-list-item">
            <a @click="setContent(post)" href="#" :data-postid="post.id" class="pl-link">
              <h3 class="pl-item-title">{{post.title}}</h3>
              <span class="pl-item-subtitle">{{getSubs(post)}}</span>
            </a>
          </li>
      </ul>
    </div>

    <div id="content" class="content">
      <div id="view-post" v-if="viewMode">
        <div id="cont-header">
          <h1 class="ch-title">{{ title }}</h1>
          <h3 class="ch-date">{{ date }}</h3>
        </div>
        <div v-html="body"></div>
      </div>

      <div id="create-post" v-if="createMode || editMode">
        <h1 v-if="createMode">Create New Post</h1>
        <h1 v-if="editMode">Edit Post</h1>
        <div class="input-group">
          <label for="title">Title: </label>
          <input type="text" name="title" id="new-post-title" class="new-post-title" v-model="title">
        </div>
        <div class="input-group">
          <label for="subtitle">Subtitle: </label>
          <input type="text" name="subtitle" id="new-post-subtitle" class="new-post-subtitle" v-model="subtitle">
        </div>
        <div class="input-group">
          <label for="body">Body: </label>
          <textarea name="body" id="new-post-body" class="new-post-body" v-model="body"></textarea>
        </div>
        <button id="new-post-save" @click="saveDraft()">save draft</button>
        <button id="new-post-commit" @click="commitPost()">commit post</button>
        <button id="new-post-cancel" @click="cancelPost()">cancel post</button>
      </div>

    </div>
  </div>

  <script src="./js/userdata.js"></script>
  <script src="./js/get-posts.js"></script>
  <script src="./js/post-list.js"></script>
  <script src="./js/post-content.js"></script>
  <script src="./js/action.js"></script>
</body>
</html>